{% extends "adminbase.html.twig" %}
{% block content %}
    <div class="login-content">
        <form class="login-form">
            <input type="email" class="login-username" autofocus="true" required="true" placeholder="Email"/>
            <input type="password" class="login-password" required="true" placeholder="Password"/>
            <input type="submit" name="Login" value="Login" class="login-submit"/>
        </form>
    </div>
{% endblock %}