{% extends "base.html.twig" %}
{% block content %}
    <div class="overlay-landing-page">
        <h1>Infinite Dream</h1>
        <img src="{{ asset('images/logo/wow-logo-white.png') }}" alt="wow-logo" class="overlay-landing-page-image">
    </div>
{% endblock %}